body{
    font-family: Avenir;
    margin:1em;
}

.big-wrapper{
    margin-top:2em;
    display:flex;
    flex-direction:column;
}

.conversation-zone{
    display:flex;
    flex-direction: row;
    height:300px;
}

.conversations-container{
    width:200px;
}

.current-conversation{
    width:calc(100% - 200px);
}

.contacts-container{
    display:flex;
    width:100%;
}

.contacts-container div{
    min-width:100px;
}