
.profile-main{
    @include flex(column, flex-start, center);
    //position:relative;
    padding:1em;
    overflow-y:auto;

    p.divider{
        margin:1em 0;
    }

    //Image upload form -> general!

    form#edit-form{
        text-align:center;
        margin: 1.5em auto 0 auto;
    }
}